[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-bcrypt = "*"
flask = "*"
dotenv = "*"
flask-login = "*"
requests = "*"
pymongo = "*"
typing-extensions = "*"
tomli = "*"
exceptiongroup = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.10"
