[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
flask-bcrypt = "*"
flask = "*"
dotenv = "*"
flask-login = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
