<!DOCTYPE html>
<html>
<head>
    <title>PantryPal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
</head>
<body>
    <nav>
        <div style="display: flex; align-items: center;">
            <h1 style="padding-right: 0">PantryPal</h1>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" id="logo">
        </div>
        <div>
            <a href="/">Home</a> 
            <a href="/my-pantry">My Pantry</a> 
            <a href="/my-recipes">My Recipes</a> 
            <a href="/logout">Logout</a> 
        </div> 
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>
