<!DOCTYPE html>
<html>
<head>
    <title>PantryPal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
</head>
<body>
    <nav>
        <div>
            <h1>PantryPal</h1>
        </div>
        <div>
            <a href="/">Home</a> 
            <a href="/my-pantry">My Pantry</a> 
            <a href="/my-recipes">My Recipes</a> 
            <a href="/add-recipe">Add Recipe</a> 
            <a href="/logout">Logout</a> 

        </div>
        
    </nav>
    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>
