name: Web-App CI / CD 

on: 
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]
jobs:
    test: 
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with: 
                python-version: '3.12'

            - name: Install pipenv
              run: pip install pipenv
      
            - name: Install dependencies via Pipenv
              run: |
                cd web-app
                pipenv install --dev --system
                
            - name: Run tests
              working-directory: web-app
              run: pipenv run pytest
              
    build-and-push:
        runs-on: ubuntu-latest
        needs: test
        steps: 
        - uses: actions/checkout@v4
        
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with: 
            username: ${{secrets.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_TOKEN}}
        
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Build and push web-app Docker image 
          if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
          uses: docker/build-push-action@v6
          with: 
            context: ./web-app
            push: true
            tags: ${{secrets.DOCKERHUB_USERNAME}}/web-app:latest
    
    deploy: 
        needs: build-and-push
        runs-on: ubuntu-latest
        if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
        steps: 
        - name: Deploy DigitalOcean Droplet
          uses: appleboy/ssh-action@v1.0.0
          with: 
            host: ${{secrets.DO_HOST}}
            username: root
            key: ${{secrets.DO_SSH_KEY}}
            script: |
              docker pull ${{secrets.DOCKERHUB_USERNAME}}/web-app:latest
              docker stop web-app || true
              docker rm web-app || true
              docker run -d --name web-app -p 5000:5000 ${{secrets.DOCKERHUB_USERNAME}}/web-app:latest
